@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
}

:root {
  background: whitesmoke;
}

.tile {
  opacity: 0%;

  width: var(--ratio);
  object-fit: cover;

  stroke: lightgrey;
  stroke-width: 0.03px;

  transition: stroke 0.1s;
  animation: fadeInAnimation 1s ease 2s normal forwards;
}

.tile:hover {
  stroke: gold;
  stroke-width: 0.08px;
}

.tile > path {
  stroke: inherit;
  stroke-width: inherit;
}

.is-inverted {
  transform: scaleX(-1);
}

.row {
  display: flex;
}

.is-row-inverted {
  transform: scaleY(-1);
}
